body {
  padding: 32px;
  margin: 0;
  font-family: 'Menlo', monospace;
  font-size: 16px;
}

h1 {
  margin: 0;
}

.my-input {
  width: 224px;
  height: 40px;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 16px;
  margin-top: 8px;
  border: solid 1px black;
  border-radius: 4px;
  font-family: 'Menlo', monospace;
  display: block;
}

.main-button {
  margin-top: 16px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: black;
  color: #f8f8f8;
  width: 240px;
  height: 72px;
  font-family: 'Menlo', monospace;
}

.cell {
  background-color: #f8f8f8;
  border: 1px solid #a0a0a049;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.row {
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

div[data-state='alive'] {
  width: 75%;
  height: 75%;
  background-color: rgb(4, 86, 144);
  border-radius: 100%;
}

.controls {
  margin-right: 64px;
}

.field {
  margin-top: 26px;
}